@import 'normalize';
@import 'matts';
@import 'chad';

html {
  font-family: Roboto;
}

body {
  background-color: #fff;
}

p {
  font-family: Montserrat;
}

.parallax-container.first-para {
  height: 500px;
}

.shift-clouds {
  position: relative;
  width: 100%;
  height: 350px;
  z-index: -1;
}

.wrap-clouds {
  margin-top: -220px;
  width: 100%;
  z-index:1; //new kill
  position: relative;
  height: 350px;
  top: -56px;
}

.wrap-clouds2 {
  width: 100%;
  height: auto;
}

.shift-clouds2 {
  position: relative;
  width: 100%;
  margin-top: -200px;
}

.third-cloud {
  width: 100%;
}

.city-shift {
  margin-top:-490px;
  // height: 1650px;
}

.parallax-container {
  height: 900px;
}

.hill-push {
  margin-top: -700px;
}

.hill {
  width: 100%;
  height: 1100px;
}

.product {
  margin-bottom: 10px;
  cursor: pointer;
}

.product-container {
  background-color: #fff;
  height: auto;
  width: 100%;
}



.nav {
  background-color: rgb(149, 39, 39);
  position: fixed;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  padding: 0 30px 0 30px;
  color: #fff;
}

.spacer {
  height: 64px;
}

.nav-right {
  display: flex;
  align-items: center;

}

button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: #fff;
  height: 61px;
  outline: none;
  padding: 0 15px 0 15px;
}

.red button {
  padding: 0;
  background-color: blue;
}

.menu {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  display: none;
}

.title {
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
  padding: 0 15px 0 15px;
}

.nav-side {
  visibility: hidden;
  position: absolute;
  right: 0;
  right: -150px;
  top: 64px;
  height: 100vh;
  width: 150px;
  background-color: rgba(175, 43, 33, 1);
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-side-show {
  visibility: visible;
  right: 0;
}

.nav-side button {
  width: 100%;
}

.nav-side button:hover {
  background-color: #952727;
}

@media (max-width: 1000px) {
  .styleIcons {
    font-size: 70px;
    align-self: center;
  }

  .menu {
    display: inline-block;
  }

  .nav-right {
    display: none;
  }

}

@media (min-width:1000px) {
  .nav-side {
    visibility: hidden;
  }
}

.quantity {
  background-color: #57A6D9;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  right: 24px;
  top: -11px;
}

.quantity-side {
  background-color: #57A6D9;
  width: 15px;
  height: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  right: 24px;
  top: -12px;
}

.quantity p {
  margin: 0;
  padding: 0;
  color: #952727;
  font-size: 10px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.cart-side-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0 ;
}

.cart-side-wrapper:hover {
  background-color: #952727;
}

.homepage-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.ProductInGrid {
  margin: 5px;
}

.ProductInGrid img{
  width: 232px;
  height: 210px;
}

.product-placeholder {
  width: 232px;
  height: 210px;
}

.product-space {
  margin-top: 70px;
}

.product-main {
  display: flex;
  justify-content: center;
  // background-color: red;
}

.product-main-image {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.product-page-container {
  width: 70%;
  display: flex;
  // flex-wrap: wrap;
  // background-color: purple;
  justify-content: center;
}

.all-prod-images {
  display: flex;
  flex-direction: column;
  // background-color: green;
  max-width: 300px;
  min-width: 300px;
  margin-right: 25px;
  color: #888785;

  // flex-wrap: wrap;
}

.redd {
  // background-color: orange;
  // display: inline-block;
  // width: 40%;

  min-width: 450px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  // padding-left: 8%;
  border-left: 1px solid #cacaca;
  color: #888785;
}

.buttonTest {
  width: 100%;
  background-color: rgb(78, 169, 228);
  z-index: -1;
}

// #888785

h1 {
  margin: 0;
}

Dropdown {
  border: 1px solid black;
  color: green;
}










.Dropdown-root {
  position: relative;
  margin-bottom: 25px;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background:rgba(0,0,0,0);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.dropdown-quantity {
  width: 50px;
}

.dropdown-quantity .Dropdown-menu {
  width: 126%;
}

.dropdown-quantity p {
  margin: 0;
}

.displayColor p {
  margin: 0;
}
