.product-space {
  margin-top: 30px;
}

.product-info-space {
  background-color: #E4F3D9;
  border-radius: 5px;
}

.social-media {
  background-color: #EFEFEB;
  border-radius: 5px;
  margin-top: 10px;
}

.product-info-inner {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.question {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.row .col .thumbnail-img {
  padding: 5px;
}
