.product-space {
  margin-top: 30px;
}

.product-info-space {
  background-color: rgba(160, 210, 245, 1);
  border-radius: 25px;
}

.social-media {
  background-color: rgba(160, 210, 245, .5);
  border-radius: 25px;
  margin-top: 10px;
}

.product-info-inner {
  background-color: rgba(245, 245, 241, 0.7);
  // background-color: rgba(245, 245, 241, 0.9);
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-info-inner img {
  padding: 10px;
}

.thanks-message {
  // background-color: rgba(160, 210, 245, 1);
  // background-color: rgba(160, 210, 245, .5);
  background-color: rgba(149, 39, 39, 0.8);
  // background-color: rgba(245, 245, 241, 0.9);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.thanks-message img {
  padding: 10px;
}





.question {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.row .col .thumbnail-img {
  padding: 5px;
  cursor: pointer;
}


// .cart-product {
//   margin-top: 60px;
// }

.cart-group {
  margin-top: 40px;
}

td {
  text-align: center;
}

.infoTable {
  position: fixed;
}

.flt {
  // float: right;
}

.buttonCenter {
  // margin: auto;
}

// .border-top {
//   border-top: 1px solid rgb(149, 39, 39);
// }

.main-content {
 margin-top: -305px;
 z-index: 2;
}

.blur-me {
  // filter: blur(520px);
  height: 250px;
  width: 350px;
  // background-color: rgba(255,255,255, 0.7);
  margin: 0 auto;
  border-radius: 8px;
  margin-bottom: 50px;
  padding-top: 20px;
}

.blur-me h1 {
  font-family: 'Yesteryear', cursive;
  color: #B51907;
  font-size: 3em;
}
// .blur-me::before {
//     background-image: url('pelican-blurry.jpg');
// }
//
// .blur-me::before {
//     background-image: url('pelican.jpg');
//     filter: blur(5px);
// }

.bottom-clouds {
    width: 100%;
}

.bottom-clouds img {
  width: 100%;
}

footer {
  background-color: rgba(149, 39, 39, 0.8);
  position: relative;
  margin-top: -10px;
  height: 50px;
  color: #fff;
}

.border-right {
  border-right: 1px solid rgb(149, 39, 39);
}

.thanks-clouds img {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
        width: 100%;
        margin-top: -400px;
}

.light-city {
  width: 100%;
  margin-top: -300px;
}

.light-city img {
  width: 100%;
}

.hill2 {
  width: 100%;
  margin-top: -600px;
}

.hill2 img {
  width: 100%;
}

.congratulations {
  height: 400px;
  width: 500px;
  background-color: rgba(255, 255, 255, .7);
  // background-color: rgba(149, 39, 39, 0.8);
  padding: 20px;
  top: 200px;
  left: 200px;
  z-index: 100;
  position: fixed;
  border-radius: 10px;
  text-align: center;
}

.congratulations h2 {
  font-size: 40px;
}
